:root{
    --pri-color: #0d9d63;
    --acc-color-dark: #1E3E62;
    --sec-color: #FFD65A;
    --sec-color2: #FF9D23;
    --red: #F93827;
    --teal: #2E5077;
    --teal-light: #4DA1A9;
    --white: #f6f6f6;
    --text-color: #94a3b8;
    --text-color-dark: #1a1a1a;
}

.category{
    width: 100%;
    border-bottom: 1px solid rgba(26, 26, 26, 0.1);
    padding: 0.45rem 0;
    background-color: rgba(148, 163, 184, 0.2);
}

.category-inner{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--text-color-dark);
}

.category-inner p{
    margin: 0;
    font-size: 0.8;
    text-transform: capitalize;
}

.category-inner button{
    all: unset;
    cursor: pointer;
}

.category i{
    font-size: 1.4rem;
}

.category aside{
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--white);
    width: 14rem;
    height: 100vh;
    z-index: 101;
    box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.03);
    overflow-y: scroll;
    transform: translateX(-15rem); /* Hide by default */
    transition: transform 1s ease-in-out; /* Smooth transition */
}

.category aside::-webkit-scrollbar{
    width: 12px;
}

.category aside::-webkit-scrollbar-track{
    color: var(--text-color);
}

.category aside::-webkit-scrollbar-thumb{
    background-color: rgba(30, 62, 98, 0.17);
    /* border-radius: 5px; */
    /* border: 2px solid rgba(30, 62, 98, 0.3); */
}

.category aside > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.category-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem 1rem 1rem;
}

.category-links a{
    font-size: 0.8rem;
    text-transform: capitalize;
    color: var(--text-color-dark);
    align-self: flex-start;
}

.category a:hover{
    text-decoration: underline;
    color: var(--red);
}

.category .title{
    background-color: var(--text-color);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 2.8rem;
}

.category .title p{
    margin: 0;
    text-transform: capitalize;
    font-size: 0.9rem;
}

.category .title button{
    all: unset;
    cursor: pointer;
}


/* Animate Side Bar */
.animate{
    animation: sd-animate 1s forwards;
}

.rm-animate{
    animation: sd-rm-animate 1s backwards;
}

@keyframes sd-animate{
    0%{
        transform: translateX(-15rem);
    }

    100%{
        transform: translateX(0rem);
    }
}

/* Remove Animation on Side Bar */
@keyframes sd-rm-animate{
    0%{
        transform: translateX(0rem);
    }

    100%{
        transform: translateX(-15rem);
    }
}