:root{
    --pri-color: #0d9d63;
    --acc-color-dark: #1E3E62;
    --sec-color: #FFD65A;
    --sec-color2: #FF9D23;
    --red: #F93827;
    --teal: #2E5077;
    --teal-light: #4DA1A9;
    --white: #f6f6f6;
    --text-color: #94a3b8;
    --text-color-dark: #1a1a1a;
}

footer{
    border-top: 1px solid rgba(246, 246, 246, 0.7);
    padding: 4rem;
    background-color: var(--pri-color);
}

footer > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-transform: capitalize;
}

footer a.txt{
    color: var(--white);
}

footer a.txt span.col{
    color: var(--sec-color);
}

footer p{
    margin: 0;
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
}

footer .loadpage{
    color: var(--white-color);
    filter: brightness(1.1);
}

.name{
    opacity: 0.7;
}

@media (min-width: 1000px){
    .name{
        opacity: 0.6;
    }
}