.trust {
    position: relative;
    top: -2rem;
    background: var(--red);
    background: linear-gradient(45deg, rgba(217,49,34,0.9137780112044818) 0%, rgba(213,36,20,1) 100%);
    color: var(--white);
    padding: 0.7rem 0;
    display: flex;
    /* flex-wrap: nowrap; */
    align-items: center;
    justify-content: start;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
    user-select: none;
    margin: 0 auto;
}

.trust-badge {
    display: flex;
    width: max-content;
    gap: 3rem; 
    padding: 0 1.5rem;
    animation: marquee-slider 10s linear infinite;
}

.trust-badge span {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 0.5rem;
    text-transform: capitalize;
    white-space: nowrap;
}

@keyframes marquee-slider {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-50%)); 
    }
}

@media (min-width: 768px) {
    .trust-badge span {
        font-size: 0.95rem;
    }
}
